@font-face {
    font-family: 'TSTARPRO-Headline';
    src: url(fonts/TSTAR/TSTARPRO-Headline.ttf);
}

@font-face {
    font-family: 'TSTARPRO';
    src: url(fonts/TSTAR/TSTARPRO-Regular.ttf);
}

@font-face {
    font-family: 'ApercuPro';
    src: url(fonts/Apercu/apercu_regular_pro.otf);
}

@font-face {
    font-family: 'ApercuMediumPro';
    src: url(fonts/Apercu/apercu_medium_pro.otf);
}



